.gridhome{
    display: grid;
    border: 1px solid black;
    height: 100em;
    grid-template-rows: 23% 25% 35% 13%;
    grid-template-areas:
    'welcome welcome welcome' 
    'imagens imagens imagens'
    'carrosel carrosel carrosel'
    'rodape rodape rodape';
}
.cubo{
    border: 2px solid red;
}
#welcome{
    grid-area: welcome;
    background-image: url(/codigo/img/banner.jpg);
    filter: blur(0.5px);
    background-size: cover;

}
#imagens{
    grid-area: imagens;
    
}
#carrosel{
    grid-area: carrosel;
}
#rodape{
    grid-area: rodape;
}
h1{
    position: relative;
    top: -70%;
    left: 32%;
    color: rgb(0, 217, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    
}