@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
body {
    padding: 10px 40px;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(45deg, #1b294a, #203158);
    box-shadow: 20px -20px 60px #152039, -20px 20px 60px #273c6b;
}

.jogoContainer {
    text-decoration: none;
    color: black;
}
  
h1{
    color: black;
    font-size: 30px;
    font-weight: 00;
    text-align: center;
    margin: 20px 0;
}

#desc {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}

.banner{
    display: flex;
    height: 45vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
}

.banner img{
    width: 800px;
    border-radius: 20px;
}

