@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
body {
    padding: 80px 40px;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(45deg, #1b294a, #203158);
    box-shadow: 20px -20px 60px #152039, -20px 20px 60px #273c6b;
}

.jogoContainer {
    text-decoration: none;
    color: black;
}
  
h1 {
    color: black;
    font-size: 40px;
    font-weight: 00;
    text-align: center;
    margin: 20px 0;
}

#desc {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}

.banner{
    display: flex;
    height: 45vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
}

.banner img{
    width: 800px;
    border-radius: 20px;
}

#favoritar{
    font-size: 35px;
    color: #000000;
    cursor: pointer;
}
.header {
    background-color: #111c31;
    padding: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-item {
    margin-right: 20px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    background-color: #203158;
    border-radius: 5px;
  }

@media (max-width: 1024px){
    .banner img{
        width: 350px;
    }
    h1{
        font-size: 1.5rem;
    }
    #desc{
        font-size: 1rem;
    }
}



