body {
  margin: 1%;
  padding: 1%;
  height: 100%;
  background: linear-gradient(45deg, #1b294a, #203158);
box-shadow: 20px -20px 60px #152039, -20px 20px 60px #273c6b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1b294a;
  color: #f2f2f2;
  border: 2px solid #fbff00;
  border-radius: 10px;
}
.rectangle h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 10px;
}

.content p {
  font-size: 18px;
}

.filter-box {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  background-color: #203158;
  padding: 10px;
  border: 2px solid #fbff00;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.filter {
  margin-right: 20px;
}

.filter label {
  color: #f2f2f2;
  font-size: 16px;
  margin-right: 5px;
}

.filter select {
  padding: 5px;
  border-radius: 5px;
}

.filter-button {
  background-color: #fbff00;
  color: #0a0b2e;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: auto; 
  cursor: pointer;
}