body {
    font-family: Arial, sans-serif;
    background-color: #0a0b2e;
    color: #f1f500;
  }
  
  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-content {
    max-width: 600px;
    background-color: #05061a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .paragraph-box {
    border: 1px solid #f1f500;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.3s;
  }
  
  .image-container img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .popup-content h1 {
    text-align: center;
  }
  
  .popup-content img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  .popup-content p {
    text-align: center;
  }
  
  .popup-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .popup-content ul li {
    margin-bottom: 10px;
  }
  
  .popup-content ul li span {
    font-weight: bold;
  }
  
  .popup-overlay.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }