* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
body {
  padding: 10px 40px;
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(45deg, #1b294a, #203158);
  box-shadow: 20px -20px 60px #152039, -20px 20px 60px #273c6b;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  gap: 30px;
}
.header-botoes,
.perfil-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icones-jogo {
  display: flex;
  gap: 15px;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color:#1e1e55;
}
.perfil-icon {
  
  display: flex;
  font-size: 30px;
  align-items: center;
  color: #0d0d25;
  transition: color 0.5s;
}
.perfil-icon:hover {
  cursor: pointer;
  color: #1e1e55;
}
#jogos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  cursor: pointer;
  gap: 15px;
}
.jogo{
  border: 3px solid rgb(7, 7, 7);
  border-radius: 5px;
  width: 100%;
  display: flex;
}
.jogo img {
  width: 500px;
  height: 100%;
}
.mais-jogos {
  border-radius: 5px;
  background-color: rgba(160, 160, 160, 0.2);
  font-size: 15px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mais-jogos:hover {
  cursor: pointer;
  color: #1e1e55;
}
.texto-jogo {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: calc(100% - 500px);
  text-align: center;
  padding: 30px;
  flex-direction: column;
  gap: 15px;
}
.pessoas-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 120px;
  width: 100%;
}
.pessoa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pessoas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.pessoas h1 {
  margin-top: 20px;
}
.pessoas-button {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: rgba(160, 160, 160, 0.2);
  font-size: 15px;
  width: 70px;
}
.pessoas-button:hover {
  cursor: pointer;
  color: #1e1e55;
}
.pessoa img {
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
}
p {
  color: aliceblue;
}
h1 {
  color: black;
}
select option {
  background-color: #1b294a;
  color: antiquewhite;
}
select {
  color: antiquewhite;
}
.jogoContainer {
  text-decoration: none;
  color: black;
  width: 100%;
}

@media (max-width: 880px) {
  .jogo {
    flex-direction: column;
  }

  .jogo img {
    width: 100%;
  }
  .texto-jogo {
    line-height: 20px;
    font-size: 0.8rem;
    width: 100%;
    padding: 20px;
  }

  header {
    justify-content: flex-end;
    gap: 20px;    
  }
  .perfil-icon,
  .favoritos-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .perfil-icon {
    padding: 0;
    font-size: 25px;
  }
  p{
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .pessoas {
    font-size: 0.8rem;
  }
  .pessoas-grid {
    grid-template-columns: auto auto;
    row-gap: 80px;
  }
  .pessoa img {
    width: 90px;
    border-radius: 50%;
  }
  p{
    font-size: 1.0rem;
  }
}
